.toggleContainer {
  display: flex;
  align-items: center;
}

.toggleLabel {
  margin: 100px;
}

.toggleSlider {
  display: flex;
  position: relative;
  width: 64px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggleSlider.on {
  background-color: #2196F3;
}

.toggleThumb {
  position: absolute;
  top: 2px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggleSlider.on .toggleThumb {
  transform: translateX(37px);
}

.onOrOff{
  justify-content: flex-start;
  padding-left: 5px;
}

.onOrOff.off{
  color:grey;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(50%, -50%);
}